// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

nav {
  position: relative;
}

.nav-title {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-item {
  display: inline-block;
}

.sub-nav {
  position: absolute;
  top: 20px;
}
